@media only screen and (max-width: 600px) {
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 30px;
    }

    .title-container {
        width: 20rem;
        height: 6rem;
    }

    #contact-options {
        margin: 0 3%;
    }

    #about img {
        display: none;
    }

}
