@media only screen and (max-width: 600px) {
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 28px;
    }

    .title-container {
        width: 20rem;
        height: 6rem;
    }

    #contact-options {
        margin: 0 3%;
    }

    #about img {
        display: none;
    }

    #about-text {
        width: 100%;
    }

    .terminal {
        font-size: 1.4rem;
    }

    .terminal:after {
        width: .4rem;
        height: 1.4rem;
        margin-bottom: -0.2rem;
    }
}
