* {
    font-family: 'Tomorrow', 'sans-serif'
}

body {
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 0;
    z-index: 5;
}

header ul {
    display: flex;
    padding: .5rem;
    flex-direction: row;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 1rem;
    background: rgba(43, 52, 55, 0.91);
    border-bottom: #00FF78 solid 2px;
}

header ul li  {
    margin: 1rem;
}

header ul li a {
    text-decoration: none;
    color: #00FF78;
    width: 4rem;
    display: block;
    position: relative;
    transition: all .35s;
}

header ul li a span {
    position: relative;
    z-index: 10;
}

header ul li a:before {
    content: '';
    text-decoration: none;
    background-color: #00FF78;
    display: block;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all .35s;
    position: absolute;
}

header ul li a:hover {
    color: #253033;
    float: right;
}

header ul li a:hover:before {
    background-color: #00FF78;
    margin-right: -4rem;
    width: 4rem;
}

.marked {
    background-color: #00FF78;
    color: #253033;
}

.underlined {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

.page {
    height: 100%;
}

#home div {
    color: #00FF78;
    position: relative;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    font-weight: 100;
    font-size: 60px;
    margin: 0;
}

h2 {
    font-weight: 100;
    font-size: 42px;
    margin: 0;
}

#home {
    background-color: #253033;
}

#about {
    background-color: #2A3538;
}

#contact {
    background-color: #253033;
}

.title-container {
    width: 36rem;
    height: 8rem;
    margin: auto;
    text-transform: none;
    top: 50%;
    transform: translateY(-50%);
}

section {
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

#about img {
    width: 20%;
    padding: 1rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
}

.container {
    height: 22rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.outlined {
    border: #00FF78 solid 2px;
}

.icon-github:before {
    content: '';
    width: 50px;
    height: 50px;
    display: block;
    background-size: cover;
    margin-right: 1rem;
    float: left;
    background-image: url('../assets/icons/github.png');
}

.icon-linkedin:before {
    content: '';
    width: 50px;
    height: 50px;
    display: block;
    background-size: cover;
    margin-right: 1rem;
    float: left;
    background-image: url('../assets/icons/linkedin.png');
}

.icon-instagram:before {
    content: '';
    width: 50px;
    height: 50px;
    display: block;
    background-size: cover;
    margin-right: 1rem;
    float: left;
    background-image: url('../assets/icons/instagram.png');
}

#contact-options {
    width: 17rem;
    height: 16rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    list-style: none;
}

.contact-option {
    height: 50px;
    font-size: 2.5rem;
    color: #00FF78;
    margin-bottom: 2rem;
}

.contact-option a {
    text-decoration: none;
    color: #00FF78;
    display: block;
    width: 18rem;
    height: 3.4rem;
    transition: all .35s;
}

.contact-option a span {
    position: relative;
    z-index: 10;
}

.contact-option a:before {
    content: '';
    background-color: #00FF78;
    display: block;
    left: 4rem;
    width: 0;
    height: 3.2rem;
    transition: all .35s;
    position: absolute;
}

.contact-option a:visited {
    text-decoration: none;
    color: #00FF78;
}

.contact-option a:hover {
    color: #253033;
}

.contact-option a:hover:before {
    background-color: #00FF78;
    width: 14rem;
}

.contact-option a:active {
    color: #253033;
    text-decoration: underline;
}

#about-text {
    width: 70%;
    color: #00FF78;
}

#about-text h1 {
    color: #253033;
    background-color: #00FF78;
}

.terminal {
    font-size: 2rem;
}

.terminal:after {
    content: '';
    display: inline-block;
    width: .6rem;
    height: 2rem;
    margin-left: .4rem;
    margin-bottom: -0.3rem;
    background-color: #00FF78;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
