* {
    font-family: 'Tomorrow', 'sans-serif'
}

body {
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 0;
    z-index: 5;
}

header ul {
    display: flex;
    padding: .5rem;
    flex-direction: row;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 1rem;
    border-bottom: #00FF78 solid 2px;
}

header ul li  {
    margin: 1rem;
}

header ul li a {
    text-decoration: none;
    color: #00FF78;
}

header ul li a:hover {
    background-color: #00FF78;
    color: inherit;
}

.marked {
    background-color: #00FF78;
    color: #253033;
}

.underlined {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

.page {
    height: 100%;
}

#home div {
    color: #00FF78;
    position: relative;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    font-weight: 100;
    font-size: 60px;
    margin: 0;
}

h2 {
    font-weight: 100;
    font-size: 46px;
    margin: 0;
}

#home {
    background-color: #253033;
}

#about {
    background-color: #2A3538;
}

#contact {
    background-color: #253033;
}

.title-container {
    width: 36rem;
    height: 8rem;
    margin: auto;
    text-transform: none;
    top: 50%;
    transform: translateY(-50%);
}

section {
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

#about img {
    width: 20%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 1rem;
    float: right;
    margin: 2rem;
}

.container {
    height: 100%;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.outlined {
    border: #00FF78 solid 2px;
}

.icon-github:before {
    content: '';
    width: 50px;
    height: 50px;
    display: block;
    background-size: cover;
    margin-right: 1rem;
    float: left;
    background-image: url('../assets/icons/github.png');
}

.icon-linkedin:before {
    content: '';
    width: 50px;
    height: 50px;
    display: block;
    background-size: cover;
    margin-right: 1rem;
    float: left;
    background-image: url('../assets/icons/linkedin.png');
}

.icon-instagram:before {
    content: '';
    width: 50px;
    height: 50px;
    display: block;
    background-size: cover;
    margin-right: 1rem;
    float: left;
    background-image: url('../assets/icons/instagram.png');
}

#contact-options {
    width: 17rem;
    height: 16rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 6%;
    padding: 0;
    list-style: none;
}

.contact-option {
    height: 50px;
    font-size: 2.5rem;
    color: #00FF78;
    margin-bottom: 2rem;
}

.contact-option a {
    text-decoration: none;
    color: #00FF78;
}

.contact-option a:visited {
    text-decoration: none;
    color: #00FF78;
}

.contact-option a:hover {
    color: #253033;
    background-color: #00FF78;
}

.contact-option a:active {
    color: #253033;
    background-color: #00FF78;
    text-decoration: underline;
}